.price::before{
    content:"$";
}
.price{
    font-weight: bold;
}
.home-products{
    min-height:150px;
}
.product-name{
    min-height:52px;
    text-transform: capitalize;
}
.product-detail-name{
  text-transform: capitalize;
}
.product-image{
  width:100%;
}
.navbar-profile-image{
    display:inline-block;
}
#profile-input{
    display:none;
}
.profile-img{
    max-width: 30px;
    margin-top:10px;
}

.center{
  text-align:center;
}

.spinner{
  width:30px;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}